.input {
    padding: 10px 20px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 44px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #000;
}